/**
Theme Name:   RT Mod Child Theme
Theme URI:   	https://i-wp-dev.com/
Description:  A RT Mod Child Theme
Author:       Alex L
Author URI:   https://i-wp-dev.com/
Template:     rt_mod_1.0
Version:      1.0.0
Text Domain:  salient
 */
.fs-18 .iwithtext .iwt-icon img{
    margin-bottom: 0;
    width: 30px !important;
}
.fs-18 .iwithtext .iwt-text{
    font-size: 18px;
    padding-left: 45px;
    font-weight: 700;
}
.fs-18 .iwithtext{
    max-width: fit-content;
    margin: 0 0 0 auto;
}
.img-gallery .vc_col-sm-6 img{
    height: 248px;
    object-fit: cover;
    object-position:top center;
}
.job-apply-sidebar select{
    height: 36px !important;
    padding: 0 15px !important;
    border: 1px solid #ccc !important;
    font-weight: 700;
    font-size: 14px !important;
}
.job-apply-sidebar .nf-form-content .listradio-wrap li:last-of-type{
    margin-bottom: 0 !important;
}
.job-apply-sidebar .nf-form-content .listradio-wrap li label{
    font-size: 14px !important;
    font-weight: 700;
}
.job-apply-sidebar .nf-form-content .list-select-wrap > div div::after {
    height: 36px !important;
    line-height: 36px !important;
    font-size: 14px;

}
.job-apply-sidebar .nf-form-content .list-select-wrap .nf-field-element > div{
    padding: 0 !important;
    height: 36px !important;
}
.job-apply-sidebar input[type="text"],
.job-apply-sidebar input[type="email"],
.job-apply-sidebar input[type="tel"]{
    height: 36px !important;
    padding: 0 15px !important;
    border: 1px solid #ccc !important;
    border-radius: 14px !important;
    font-weight: 700 !important;
    
}
.job-apply-sidebar .nf-form-content input[type="button"],
.job-apply-sidebar .nf-form-content input[type="submit"]{
    max-width: 318px;
    height: 56px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e61e6e !important;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    border-radius: 4px !important;
}

.job-apply-sidebar .nf-field-container:not(.submit-container){
    margin-bottom: 20px !important;
}
.job-apply-sidebar .nf-form-cont,
.job-apply-sidebar  .submit-container{
    margin-bottom: 0 !important;
}
.job-apply-sidebar .wpb_content_element{
    margin-bottom: 10px !important;
}
.job-apply-sidebar .nf-form-content {
    padding: 0 !important;
    text-align: left;
}
.job-apply-sidebar .nf-field-label label{
    line-height: 1.2 !important;
    display: block;
    margin-bottom: 5px;
}
.img-gallery{
    
}
.job-apply-sidebar{
    padding-left: 70px !important;
}
.label-block {
    position: relative;
}
.label-block .img-with-aniamtion-wrap:last-of-type{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(calc(50% - 50px), calc(-50% + 30px));
}
.label-block .img-with-aniamtion-wrap:last-of-type .label-img img{
    width: 180px;
}
.color-white h2{
    color: #fff !important;
}
.dark .col.section-title{
    border-bottom: none !important; 
}
.advantage .vc_col-sm-3 h4{
    font-size: 20px !important;
    line-height: 1.2;
}
.advantage .vc_col-sm-3 p{
    font-size: 18px !important;
}
.nectar-fancy-ul ul li strong{
    color: #e61e6e;
}
.description h2{ 
    margin-bottom: 30px !important;
}
.description .nectar-button{
    background: #e61e6e !important;
    font-size: 18px;
    max-width: 260px;
    height: 56px;
    font-size: 18px;
    border-radius: 4px !important;
}
.nf-pass.field-wrap .nf-field-element::after,
.nf-error.field-wrap .nf-field-element::after {
    top: 3px !important;
    right: 0px !important;
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
    border-radius: 50%;
}
.listradio-wrap .nf-field-element label.nf-checked-label::before {
    top: 4.5px !important;
}
@media only screen and (max-width: 1383px) {
    body .vc_custom_1650726444761{
        padding-left: 0px !important;
    }
    body .vc_custom_1650726444761 h2{
        margin-bottom: 2.714vw !important;
    }
    body .vc_custom_1650726444761 p br{
        display: none;
    }
    body .job-apply-sidebar{
        padding-left: 40px !important;
    }
    .advantage .vc_col-sm-3 p br{
        display: none;
    }
}

@media only screen and (max-width: 999px) {
    .img-gallery .vc_col-sm-6 img{
        width: 100%;
        height: auto;
    }
    body .job-apply-sidebar {
        padding-left: 0px !important;
        order: -1;
    }
    body .description .nectar-button{
        margin-top: 0 !important;  
    }
    .fs-18 .iwithtext {
        margin: 0 auto ;
    }
}
@media only screen and (max-width: 689px) {
    body .vc_custom_1650816110804,
    body .vc_custom_1650731520568{
        margin-bottom: 0 !important;
    }
}
@media only screen and (max-width: 519px) {
    .label-block .img-with-aniamtion-wrap:last-of-type img{
        width: 120px !important;
    }
}